@font-face {
  font-family: 'BPGNinoMtavruli-Bold';
  src:url('../fonts/BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/BPGNinoMtavruli-Bold.woff') format('woff'), 
	  url('../fonts/BPGNinoMtavruli-Bold.ttf')  format('truetype'), 
	  url('../fonts/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
  	  font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: 'BPGIngiriArial';
  src: url('../fonts/BPGIngiriArial.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/BPGIngiriArial.woff') format('woff'), 
       url('../fonts/BPGIngiriArial.ttf')  format('truetype'), 
       url('../fonts/BPGIngiriArial.svg#BPGIngiriArial') format('svg');
       font-weight: normal;
       font-style: normal;
}

img {
	width:100%;
	display: block;
}

body {
	font-family: 'BPGNinoMtavruli-Bold';
	font-size:24px;
}

.flex {
	display: flex;
}

/*---------------------header--------------------------------*/
header {
	padding:20px 0;
	z-index: 20;
    width: 100%;
    background: white;
}

.container {
	max-width: 1170px;
	width:90%;
	margin:0 auto;
}

.logo {
	width:196px;
	display: block;
	float: left;
}

.main-navigation {
	float:left;
	margin-left: 100px;
}

.clear:after {
	content:"";
	display:block;
	clear:both;
}

.main-navigation ul li {
	display:inline-block;
	margin-right: 30px;
	line-height: 63px;   
}

.main-navigation ul li:last-child {
	margin-right: 0;
}

.main-navigation a {
	color: #3D58A6;
}

.main-navigation a:hover {
	opacity: 0.5;
}

.social-icons {
	height:30px;
	width:66px;
	display:inline-block;
	border-right:1px solid #3D58A6;
}

.social-icons img {
	width:100%;
	height:100%;
}

.social-icons img:hover {
	opacity:0.5;
}

.social {
	float:right;
	padding: 15px 0;
}
.search-button {
	float:right;
	border-right: none;
	margin:auto 0;
	margin-top: 15px;
}

.burger {
    float: right;
    display: none;
    padding: 18px 10px;
    border: 1px solid #363E97;
}

.burger-line {
    margin-top: 3px;
    width: 40px;
    height: 5px;
    background: #363E97;
}
/*---------------------header end--------------------------------*/

/*---------------------slider-------------------------------------*/
.slider {
	background: #BDCCD4;
	padding:30px  0;
}

.slider img {
	width:100%;
}

.slider-text2 {
	font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding-top: 265px;
}

.slider-text2 div p {
	display: inline-block;
}

.slider-text2 div:nth-child(n+2) {
	margin-top:4px;
}

.slider-container {
	height:461px;
	background-image: url(../images/banner.jpg);
	box-sizing: border-box;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	justify-content: space-between;
	background-position: center;
}

.banner-text-bottom {
	justify-content: space-between;
}

/*---------------------slider end-------------------------------------*/

/*---------------------video-------------------------------------*/

.video {
	background: #363E97;
	padding-bottom: 80px;
}

.video-item {
	width: 48%;
	padding:150px 0;
	text-align: center;
	background:#F2F2F2;
	border:4px solid transparent;
	box-sizing: border-box;
}

.video-item:hover {
	border:4px solid #EE4036;
}

.video-container {
	display: flex;
    justify-content: space-between;
}

.video-top-text {
	line-height: 80px;
	color:white;
}

.video-top-text span:first-child {
	font-family: "BPG Nino Mtavruli";
    padding-right: 5px;
    margin-right: 5px;
    text-transform:uppercase;
}

/*---------------------video end-------------------------------------*/

/*---------------------news-------------------------------------*/

.news-top-text {
	color:#3D58A6;
	line-height: 90px;
}

.news {
	margin-right: 5px;
	padding-right: 5px;
}

.news-item-container {
	display:flex;
	justify-content: space-between;
}

.news-item {
    width: 23%;
	position:relative;
}

.news-item-text {
	background-color: #E6E6E6;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 60px;
	padding-left: 15px;
}

article {
	background-color: #BDCCD4;
	padding-bottom: 90px;
}

.news-item-hover {
	padding-top:27px;
	padding-left:15px;
	width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    background: #e6e6e6;
    transition-delay: 5s;
    display:none;
    box-sizing: border-box;
    transition: opacity 2s;
    transition-duration: 5s;
}

.news-item:hover .news-item-hover {
	display:block;
	opacity:0.7;
}


.news-item-hover p:first-child {
	text-transform: uppercase;
	color:#363E97;
	font-size: 22px;
}

.news-item-hover a {
	display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
/*---------------------news end-------------------------------------*/

/*---------------------featured-------------------------------------*/

.featured-content {
	justify-content: space-between;
    display: flex;
}


.featured-img {
	width:100px;
	height: 130px;
	float:left;
}

.featured-img img {
	float: left;
	width:100%;
	height:100%;
}

.featured-text {
	float: right;
	width: 64%;
	font-size: 20px;
	font-family: 'BPGIngiriArial';
	color:#333333;
}

.featured-content-right {
	width:40%;
	
	background: #F2F2F2;
	padding: 15px;
}

.featured-content-left {
	
	width:40%;
	background: #F2F2F2;
	padding: 15px;
}

.featured {
	background: #E6E6E6;
	padding-bottom: 30px;
}

.featured-top-title {
	line-height: 90px;
	font-size: 24px;
}

.featured-top-title span:nth-child(1) {
	margin-right: 5px;
	padding-right: 5px;
}

.featured-top-title span:nth-child(2):hover {
	color:#EE4036;
}

.featured-content-title {
	text-transform: uppercase;
	font-size: 22px;
}

.featured-content-in {
	padding-top: 19px;
	padding-bottom: 11px;
	padding-left: 10px;
}

.read-more {
	color:#3D58A6;
	float: right;
	font-size: 14px;
	font-family: 'BPGIngiriArial';
}

.featured-item {
	border:4px solid transparent;
}

.featured-item:hover {
	border:4px solid #EE4036;
}

.featured-item:hover .featured-content-title {
	color:#EE4036;
}

.featured-item:hover .read-more {
	color:#EE4036;
}
/*---------------------featured end-------------------------------------*/

/*---------------------footer-------------------------------------*/

.footer-text {
	font-family: 'BPGIngiriArial';
	color:#333333;
	font-size: 12px;
}

.footer-text-left {
	float:left;

}

.footer-text-right {
	float: right;
}

footer div {
	line-height: 90px;
	justify-content: space-between;
}
/*---------------------footer end-------------------------------------*/

@media(max-width:1275px) {

	.main-navigation ul {
			display:none;
	}

	.menu-active ul {
		display: block;
		left: 0;
	    top: 97px;
	    z-index: 999999;
	    background: white;
	}

	.menu-active ul li {
		margin: 0;
		text-align: center;
		display: block;
	}

	.burger {
		display:block;
	}

	.menu-active ul {
		width:100%;
		position: absolute;
	}

	.main-navigation.active ul li {
		display:block;
	}

}

@media(max-width:851px) {
	.news-item-container {
		flex-wrap: wrap;
	}
    
    .news-item {
    width: 50%;
}
}



/*@media(max-width:1024px){

	.burger{
		display:block;
	}

	.main-navigation{
		display:none;
	}

	

	.featured-content-left{
		width:100%;
	}
	.featured-content-right{
		width:100%;
		margin-top: 20px;
	}

	.featured-content{
		flex-direction: column;

	}

	

	.news-item-container{

		justify-content: space-between;
	}
}*/
@media(max-width:600px) {
	.social{
		display: none;
	}
}

@media(max-width:480px){
	.video-item{
		width:100%;
	}

	.video2{
		margin-top: 20px;
	}
	.news-item{
		width:100%;
		margin-left:0;
	}

	.news-item:nth-child(n+2){
		margin-top: 20px;
	}
	.featured-content{
		flex-direction: column;
	}

	.featured-content-left{
		width:90%;
	}
	.featured-content-right{
		width:90%;
		margin-top:20px;
	}

	.video-container{
		flex-direction: column;
	}
	
	.news-item-container{
		flex-direction: column;

	}

	footer div {
		flex-direction: column;
		align-items: center;
	}
}