@font-face {
  font-family: 'BPGNinoMtavruli-Bold';
  src: url('../fonts/BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BPGNinoMtavruli-Bold.woff') format('woff'), 
  url('../fonts/BPGNinoMtavruli-Bold.ttf')  format('truetype'), 
  url('../fonts/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BPGIngiriArial';
  src: url('../fonts/BPGIngiriArial.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/BPGIngiriArial.woff') format('woff'), 
  url('../fonts/BPGIngiriArial.ttf')  format('truetype'), 
  url('../fonts/BPGIngiriArial.svg#BPGIngiriArial') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
	
	font-family: 'BPGNinoMtavruli-Bold';
	font-size:24px;
}



/*---------------------header--------------------------------*/
header{
	padding:20px 0;
	z-index: 20;
    width: 100%;
    background: white;
    
	

}
.container{
  	
	overflow: hidden;
	position:relative;
	max-width: 1170px;
	width:90%;
	margin:0 auto;
}
.logo{
	width:196px;
	display: block;
	float: left;
}
.main-navigation{
	float:left;
	margin-left: 100px;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.main-navigation ul li{
	display:inline-block;
	margin-right: 30px;
	line-height: 63px;   
}
.main-navigation ul li:last-child{
	margin-right: 0;
}
.main-navigation a{
	color: #3D58A6;
}

.main-navigation a:hover{
	opacity: 0.5;
}
.social-icons{
	height:30px;
	width:66px;
	display:inline-block;
	border-right:1px solid #3D58A6;
}

.social-icons img{
	width:100%;
	height:100%;
}

.social-icons img:hover{
	opacity:0.5;
}
.social{
	float:right;
	padding: 15px 0;
}
.search-button{
	float:right;
	border-right: none;
	margin:auto 0;
	margin-top: 15px;
}

.burger {
    float: right;
    display: none;
    padding: 18px 10px;
    border: 1px solid #363E97;
}
.burger-line {
    margin-top: 3px;
    width: 40px;
    height: 5px;
    background: #363E97;
}
/*---------------------header end--------------------------------*/


.nav-position{
	background: #BDCCD4;
	line-height: 90px;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}
.nav-position-in div:nth-child(n+2) a{
	color:white;
}
.nav-position-in div:first-child a{
color:#363E97;
}

.nav-position-in div:last-child a{
	text-decoration: underline;
}

.nav-position-in{
	font-size: 22px;
}



.nav-position-in img{
	margin-left: 5px;
	margin-right: 5px;
}

.next{
	font-family: 'BPGIngiriArial';
	font-size: 18px;
}

.article-date{
	width: 60px;
    height: 60px;
    color:#363E97;
    border: 3px solid #BDCCD4;
    text-align: center;
}


.article-date p:nth-child(1){
	font-size:34px;
	margin-top: 5px;
}
.article-date p:nth-child(2){
	font-size:12px;
}

article{
	padding-top: 30px;
	padding-bottom: 30px;
}

h3{

	line-height: 76px;
}

.article-img{
	float:left;
	margin-right: 20px;
}

.article-content p:nth-child(n+3){
	padding-top:20px;
}

.back{
	color:white;
	text-decoration: underline;

}

.face-share{
	float:right;
	margin-top: 35px;
}

.article-content p{
	
	
	font-family: 'BPGIngiriArial';
	font-size: 18px;
	color:#333333;
}

.back{
	font-family: 'BPGIngiriArial';
	font-size: 18px;
}



/*---------------------featured-------------------------------------*/
.featured-content{
	justify-content: space-between;
    display: flex;
}


.featured-img{
	width:100px;
	height: 130px;
	float:left;
}
.featured-img img{
	float: left;
	width:100%;
	height:100%;
}
.featured-text{
	float: right;
	width: 64%;
	font-size: 20px;
	font-family: 'BPGIngiriArial';
	color:#333333;
}
.featured-content-right{
	width:40%;
	
	background: #F2F2F2;
	padding: 15px;
}
.featured-content-left{
	
	width:40%;
	background: #F2F2F2;
	padding: 15px;
}

.featured{
	background: #E6E6E6;
	padding-bottom: 30px;
}
.featured-top-title{
	line-height: 90px;
	font-size: 24px;
}
.featured-top-title span:nth-child(1){
	margin-right: 5px;
	padding-right: 5px;
}
.featured-top-title span:nth-child(2):hover{
	color:#EE4036;
}
.featured-content-title{
	text-transform: uppercase;
	font-size: 22px;
}
.featured-content-in{
	padding-top: 19px;
	padding-bottom: 11px;
	padding-left: 10px;
}
.read-more{
	color:#3D58A6;
	float: right;
	font-size: 14px;
	font-family: 'BPGIngiriArial';

}

.featured-item{
	border:4px solid transparent;
}

.featured-item:hover{
	border:4px solid #EE4036;
}
.featured-item:hover .featured-content-title{
	color:#EE4036;
}

.featured-item:hover .read-more{
	color:#EE4036;
}
/*---------------------featured end-------------------------------------*/

/*---------------------footer-------------------------------------*/
.footer-text{
	font-family: 'BPGIngiriArial';
	color:#333333;
	font-size: 12px;
}
.footer-text-left{
	float:left;

}
.footer-text-right{
	float: right;
}

footer div{
	line-height: 90px;
}
/*---------------------footer end-------------------------------------*/