@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Roboto-Regular.woff') format('woff'), 
  		url('../fonts/Roboto-Regular.ttf') format('truetype'), 
  		url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*---------------------header--------------------------------*/
header{
	padding:20px 0;
}
.container{
  	font-family:'Roboto-Regular';
	overflow: hidden;
	position:relative;
	max-width: 1170px;
	width:90%;
	margin:0 auto;
}
.logo{
	width:196px;
	display: block;
	float: left;
}
.main-navigation{
	float:left;
	margin-left: 100px;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.main-navigation ul li{
	display:inline-block;
	margin-right: 30px;
	line-height: 63px;   
}
.main-navigation ul li:last-child{
	margin-right: 0;
}
.main-navigation a{
	color: #3D58A6;
}

.main-navigation a:hover{
	opacity: 0.5;
}
.social-icons{
	height:30px;
	width:66px;
	display:inline-block;
	border-right:1px solid #3D58A6;
}
.social-icons:last-child{
	border-right: none;
}
.social-icons img{
	width:100%;
	height:100%;
}

.social-icons img:hover{
	opacity:0.5;
}
.social{
	float:right;
	padding: 15px 0;
}

.burger {
    float: right;
    display: none;
    padding: 18px 10px;
    border: 1px solid #363E97;
}
.burger-line {
    margin-top: 3px;
    width: 40px;
    height: 5px;
    background: #363E97;
}
/*---------------------header end--------------------------------*/


.content-item{
	width:23%;
	display:inline-block;
	margin-left: 1%;
	vertical-align: top;
}

.content-row img{
	width: 100%;
	transition: opacity 1s;

}

.row-2{
	margin-top:20px;
}

.content-item-text{
	padding:20px 0 20px 15px;
	font-family: "BPG Nino Mtavruli";
	font-size: 22px;
	background: #E6E6E6;
	transition:background-color 1s;
	text-transform: uppercase;
	
	font-family: 'Roboto-Regular';

}

.content{
	background: #BDCCD4;
	padding-top: 58px;
	padding-bottom: 20px;
}

.more{
	margin: auto;
    width: 116px;
    font-size: 14px;
    color: white;
    padding:10px 8px;
    background: #83939B;
    margin-top:20px;
    text-align: center;

}

/*---------------------video-------------------------------------*/
.video{
	background: #363E97;
	padding-bottom: 80px;
}
.video-item{
	width: 48%;
	line-height: 320px;
	text-align: center;
	background:#F2F2F2;
	border:4px solid transparent;
}
.video-item:hover{
	border:4px solid #EE4036;
}
.video-container{
	display: flex;
    justify-content: space-between;
}
.video-top-text{
	line-height: 80px;
	color:white;
}
.video-top-text span:first-child{
	font-family: "BPG Nino Mtavruli";
    border-right: 1px solid white;
    padding-right: 5px;
    margin-right: 5px;
    text-transform:uppercase;
}
.video-top-text span:last-child:hover{
	color:#EE4036;
}
/*---------------------video end-------------------------------------*/
.dots{
	text-align: center;
	margin-top: 28px;
}
.dots span{
	width:10px;
	height: 10px;
	border:1px solid white;
	display:inline-block;
	}

	.dots span:hover{
		background: #BDCCD4;
	}

	.dots span:first-child{
		background: white
	}

/*---------------------featured-------------------------------------*/
.featured-content{
	justify-content: space-between;
    display: flex;
}


.featured-img{
	width:100px;
	height: 130px;
	float:left;
}
.featured-img img{
	float: left;
	width:100%;
	height:100%;
}
.featured-text{
	float: right;
	width: 64%;
	font-size: 20px;
}
.featured-content-right{
	width:40%;
	
	background: #F2F2F2;
	padding: 15px;
}
.featured-content-left{
	
	width:40%;
	background: #F2F2F2;
	padding: 15px;
}
.featured-content-in{
	
}
.featured{
	background: #E6E6E6;
	padding-bottom: 30px;
}
.featured-top-title{
	line-height: 90px;
	font-size: 24px;
}
.featured-top-title span:nth-child(1){
	margin-right: 5px;
	padding-right: 5px;
	border-right:1px solid black;
}
.featured-top-title span:nth-child(2):hover{
	color:#EE4036;
}
.featured-content-title{
	color:#3D58A6;
	text-transform: uppercase;
	font-size: 22px;
}
.featured-content-in{
	padding-top: 19px;
	padding-bottom: 11px;
	padding-left: 10px;
}
.read-more{
	color:#3D58A6;
	float: right;
	font-size: 14px;
}

.featured-item{
	border:4px solid transparent;
}

.featured-item:hover{
	border:4px solid #EE4036;
}
.featured-item:hover .featured-content-title{
	color:#EE4036;
}

.featured-item:hover .read-more{
	color:#EE4036;
}
/*---------------------featured end-------------------------------------*/

/*---------------------footer-------------------------------------*/
.footer-text-left{
float:left;
}
.footer-text-right{
	float: right;
}

footer div{
	line-height: 90px;
}
/*---------------------footer end-------------------------------------*/

.content-container{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-item:nth-child(n+5){
	margin-top:35px;
}
.content-item:hover .content-item-text {
	background: blue;
	color:white;
}

.content-item:hover .content-img{
opacity: 0.5;
}

.article-item:hover{

	background:#363E97;
}

.article-item:hover .article-text{
color:white;
}
.article-item:hover .article-title{
color:red;
}

.article-item:hover .details{
color:red;
}


img{
	display:block;
}

@media(max-width:1024px){

	.burger{
		display:block;
	}

	.main-navigation{
		display:none;
	}

	.video{
		display: none;
	}

	.featured-content-left{
		width:100%;
	}
	.featured-content-right{
		width:100%;
		margin-top: 20px;
	}

	.featured-content{
		flex-direction: column;

	}

	.news-item-container .news-item:last-child{
		display:none;
	}

	.news-item-container{

		justify-content: space-between;
	}
}