body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(208, 174, 240);
    font-size: 16px;
    padding-top: 10px;
}

.flex{
    display: flex;
}

.container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    align-items: center;
}

ul{
    list-style-type: none;
}

.todo_wrapper h1{
    text-align: center;
}

.todo_item{
    padding: 5px;
    justify-content: center
    align-items: center;
}

.todo_input {
    height: 35px;
}

button{
    border: none;
    outline: none;
    font-size: 40px;
    background: none;
    cursor: pointer;
    margin-left: 5px;
}

input{
    border: none;
    outline: none;
    padding: 5px;
    width:23rem;
    box-sizing: border-box;
}

.todo_text{
    background-color: white;
    padding:5px;
    width:15rem;
    height: 25px;
    box-sizing: border-box;
    height: 35px;
    width: 23rem;
}

.delete{
    
    

}

.done{
    
}
.uncompleted{
    
    
}
.doneTodo{
    text-decoration: line-through;
    opacity: 0.5;
}

.done_wrapper h1{
    text-align: center;
}

.edit_todo_button{
    margin-left: 5px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    font-weight: bold;
    z-index: 20;
}

.modal-text {
    justify-content: space-between;
    align-items: center;
}

.modal-close {
    font-size: 35px;
    cursor: pointer;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.edit_input {
    border: 1px solid blueviolet;
    
}

.overlay {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
    display: none;
}

.overlay.active {
    display: block;
}
