/*-----------------------------fonts------------------------------------*/
@font-face {
font-family:"Montserrat-Bold";
src:url("../fonts/Montserrat-Bold.eot?") format("eot"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");

font-family: 'Montserrat-Light';
src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
     url('../fonts/Montserrat-Light.woff') format('woff'), 
     url('../fonts/Montserrat-Light.ttf')  format('truetype'), 
     url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
     font-weight:normal;
     font-style:normal;
}
/*-----------------------------fonts end------------------------------------*/
.flex{
	display:flex;
}
img{
	display: block;

}
.clear:after{
	content:"";
	display: block;
	clear:both;
}
.title{
	text-align: center;
    font-size: 36px;
    color: #4e4e4e;
}
.tabs li{
	padding: 22px 28px;
	cursor: pointer;
	border: 1px solid #ebebeb;
}

/*-----------------------------header------------------------------------*/

header{
	background: #44433e;
	padding:25px 0;
}

.container{
	max-width:893px;
	width:90%;
	margin:0 auto;
	justify-content: space-between;
}

nav a{
	
	color:#b8b8b8;
	text-transform: uppercase;
	font-family:"Montserrat-Bold";
	font-size: 13px;
}
nav ul{
	line-height: 66px;
}

nav ul li{
	margin-right: 20px;
}
nav ul li:last-child{
	margin-right: 8px;
}
button{
	padding:0;
	margin:0;
	border:none;
	outline:none;
	background: none;
	cursor:pointer;
}

.search-button{
	padding: 20px 0;
}
nav a:hover{
	color:#18cfab;
}
.border{
	border-bottom: 1px solid #18cfab;
}
/*-----------------------------header end------------------------------------*/

/*-----------------------------home------------------------------------*/
.home{
	background: #3c3c3c;
position: relative;
	padding:245px 0;
}

.home-title1{
	font-family: "montserrat-bold";
	text-transform: uppercase;
	color:#ffffff;
	text-align: center;
	font-size: 35px;
}
.home div:nth-child(1) span{
	color:#18cfab;
}
.home-title2{
	font-family: "montserrat-bold";
	text-transform: uppercase;
	color:#ffffff;
	text-align: center;
	font-size:79px;
	margin-top: 45px;

}
.home-title3{
	color:#d4d4d4;
	text-align: center;
	font-size: 34px;
	margin-top: 45px;
}

.home-buttons a{
	display:inline-block;
	padding:26px 32px;
	font-size:13px;
	text-transform: uppercase;
	color:#ffffff;
	border-radius: 5px;
}
.home-buttons a:nth-child(1){
 background: #18cfab;
 margin-right: 28px;
}
.home-buttons a:nth-child(2){
 background: #00cbf6;
}
.home-buttons{
	text-align: center;
	margin-top: 142px;
}
.slider-nav{
	position:absolute;
	right:204px;
	bottom:122px;
}
.preview-picture{
	width:170px;
	height:103px;
	background: #1f1f1f;
}
.slider-buttons{
	display:flex;
	justify-content: space-between;
	color:#878787;
	margin-top: 20px;
	font-weight: bold;
	font-size: 40px;
}
.slider-button{
	width:64px;
	height:64px;
	background: #3c4140;
	text-align: center;
	line-height: 64px;
	cursor: pointer;
}
.slider-button:hover{
	background: #18cfab;
	color:white;
}
/*-----------------------------home end------------------------------------*/

/*-----------------------------4 option------------------------------------*/
.option-item{
	width:25%;
	height:257px;
	background-repeat: no-repeat;
	background-position: center 40px;
	padding-top: 170px;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
}
.option-item:nth-child(2n+1){
	background-color: #1c2a33;
	color:#18cfab;
	border-top: 5px solid #18cfab;
}
.option-item:nth-child(2n){
	background-color: #18cfab;
	color:white;
	border-top: 5px solid #fff;
}
.option-item:nth-child(1){
	background-image:  url(../images/hand.png);

}
.option-item:nth-child(2){
	background-image:  url(../images/diamond.png);

}
.option-item:nth-child(3){
	background-image:  url(../images/bulb.png);
	
}
.option-item:nth-child(4){
	background-image:  url(../images/comp.png);
	
}

/*-----------------------------4 option end------------------------------------*/

/*-----------------------------features------------------------------------*/
.features-item p{
 	font-size: 14px;
 	color:#777777;
}
.features-item{
	
}
.features-container{
	justify-content: space-between;
}
.features-title{
	color:#717171;
}
.features-title{
	margin-top:95px;
}
.line{
	width:74px;
	height:1px;
	background: #18cfab;
}
.lines div:nth-child(2){
	margin-top:3px;
	margin-left:48%;
}
.lines div:nth-child(1){
	margin:0 auto;
}
.lines{
	margin-top:42px;
}

.features-item-title{
	color:#717171;
	font-weight: bold;

}
.features-item-title span{
	margin:auto 0;
}
.features-item-title img{
	margin-right:20px;
}
.features-item p{
	margin-top:18px;
	line-height: 20px;
}
.features-item{
	margin-top:67px;
}
.features-item-title:hover{
	color:#18cfab;
}
.features-col{
	width:280px;
}
/*-----------------------------feature end------------------------------------*/

/*-----------------------------about------------------------------------*/
.about{
	background: #090f14;
	padding-top: 95px;
	padding-bottom: 95px;
}
.about-title{
	font-size: 35px;
	color:white;
	text-align: center;
}
.about-nav{
	color:white;
}
.about-nav ul{
	margin:0 auto;
	
	display: flex;
}
.about-nav{
	align-items: flex-start;
}
.skils{
	color:white;
	font-size: 13px;
	text-transform: uppercase;
width:100%;
margin:0 auto;
}

.skil1{
	background: #9c5da5;
	display: block;
	width:60%;
}
.skil2{
	background: #11b0de;
	display: block;
	width:70%;
}
.skil3{
	background: #d67f7f;
	display: block;
	width:55%;
}
.skil4{
	background: #20bc9d;
	width:90%;
	display: block;
}
.skil5{
	background: #bb8a36;
	display: block;
	width:80%;
}
.skils div{
	border:1px solid #959595;
	width:100%;
	margin-top:14px;
	border-radius: 3px;
}
.skil-level{
	padding: 16px 0 16px 17px;
}
.about-nav-ul a:hover{
	border-top:1px solid #18cfab;
}
.about-content{
	float: right;
    width: 40%;
}
/*-----------------------------about end------------------------------------*/

/*-----------------------------work------------------------------------*/
.work{
	background: #f8fcfe;
	padding-top: 95px;
}
.work-tabs li{
	background: #ffffff;
}
.work-tabs ul{
	margin: 67px auto;
}
.row div{
	width:25%;
	height:207px;
	overflow: hidden;
}
.row1 div:nth-child(2n){
	background: #8a8a8a;
}
.row1 div:nth-child(2n+1){
	background: #24413e;
}
.row2 div:nth-child(2n){
	background: #24413e;
}
.row2 div:nth-child(2n+1){
	background: #8a8a8a;
}
.load-more{
	padding:25px 25px 25px 50px;
	background-color:#18cfab;
	color:white;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 69px;
	background-image: url(../images/plus.png);
	background-repeat: no-repeat;
	background-position:20px center;
}
.button-block{
	display: flex;
	justify-content: center;
	padding-bottom: 90px;
}
.work-item1{
	background: #f8fcfe !important;
}
.work-container{
	border: 1px solid #f0f4f5;
}
.work-item1-icons{
	display: flex;
    justify-content: center;
}
.work-container p{
	text-align: center;
}
.work-item1-title1{
	text-transform: uppercase;
	font-size: 14px;
	color:#18cfab;
	margin-top: 33px;
}
.work-item1-title2{
	color: #8a8a8a;
	font-size: 12px;
	margin-top: 15px;
}
.work-item1-icons{
	margin-top: 43px;
}
.work-item1-icons img:nth-child(1){
	margin-right: 5px;
}
.work-menu-list li:hover{
	color:#18cfab;
	border-top:3px solid #18cfab;
}

/*-----------------------------work end------------------------------------*/

/*-----------------------------service------------------------------------*/
.service{
	padding-top: 100px;
	padding-bottom: 90px;
}
.services-list{
	margin-top: 67px;
}
.service-tab-content{
	margin-top: 24px;
}
.tab-content-image{
	margin-right: 20px;
    width: 154px;
}
.tab-content-image img{
	width:100%;
}
.tab-content-text{
	width: 800px;
    font-size: 12px;
    line-height: 20px;
    color:#8d8d8d;
}
.services-list li:hover span{
	color:white;
	background: #18cfab;
	border-bottom: none;
}
.services-list li:hover img{
 display:block;
}
.services-list span{
	padding: 22px 28px;
	cursor: pointer;
	border: 1px solid #ebebeb;
	display: block;
}
.services-list li img{
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	display: none;
}
.services-list li{
	position: relative;
padding-bottom: 12px;
}

/*-----------------------------service end------------------------------------*/





